/* $Id: */

div.imageslider {
  border: 5px solid #f00;
  overflow: hidden;
  position: relative;
}

div.imageslider ul {
  list-style-type: none;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

div.imageslider ul li {
  float: left;
  background: none;
  margin: 0;
  padding: 0;
}


.stripTransmitter { 
  overflow: auto; 
  width: 1%;
}
.stripTransmitter ul { 
  margin: 0; 
  padding: 0; 
  position: relative; 
  list-style-type: none; 
}
.stripTransmitter ul li{ 
  width: 20px; 
  float:left; 
  margin: 0 1px 1px 0;
  background: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.block .stripTransmitter ul li {
  list-style: none;
}
.stripTransmitter a, .stripTransmitter a:link, .stripTransmitter a:visited {
  color: #fff;
  text-decoration: none;
  font: bold 10px Verdana, Arial; 
  text-align: center; 
  line-height: 22px; 
  background: #ff0000; 
  color: #fff; 
  text-decoration: none; 
  display: block; 
}
.stripTransmitter a:hover, .stripTransmitter a.current{ 
  background: #fff; 
  color: #ff0000; 
}